.login-page,
.sign-up-page {
    background-image: url("../../assets/others/login-bg3.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100vh;
}

.login-form,
.sign-up-form {
    background-image: url("../../assets/others/login-bg3.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 85%;
    min-height: 80vh;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25),
        -1px -1px 10px rgba(0, 0, 0, 0.2);
}

.social-media {
    width: 52px;
    height: 52px;
    padding: 10px;
    border: 2px solid rgb(242, 241, 247);
    border-radius: 50%;
    cursor: pointer;
    transform: 0.3s;
    background-color: rgb(145, 194, 236);
}

.social-media:hover {
    transform: scale(0.9);
}
